body {
	font-family: sans;
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	text-transform: uppercase;
}

h2 {
	border: 0px solid black;
	border-width: 1px 0px 1px 0px;
	padding: 10px;
}

ul {
	list-style-type: square;
}
